//---------блок с показателями погоды
.indicators {
    width: 600px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color:antiquewhite;
}

.indicators__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  gap: 5px;
  padding: 10px 0;
  height: 100%;
}

.indicators__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.indicators__box-temperature {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 5px;
    font-size: 26px;
    font-weight: 600;
}

.indicators__box-feeling {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 5px;
}

.indicators__feels {
  font-size: 10px;
}

.indicators__sunrise {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 35px;
  height: 40px;

  &::before {
    content: '';
    background: url(../img/sunrise.svg) no-repeat center;
    width: 24px;
    height: 24px;
    background-size: 24px;
    position: absolute;
    left: 5px;
  }
}

.indicators__sunrise-title {
  
}

.indicators__sunrise-time {
  
}

.indicators__sunset {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 35px;
  height: 40px;

  &::before {
    content: '';
    background: url(../img/sunset.svg) no-repeat center;
    width: 24px;
    height: 24px;
    background-size: 24px;
    position: absolute;
    left: 2px;
  }
}

.indicators__sunset-title {
  
}

.indicators__sunset-time {
  
}

.indicators__box-weather {
  gap: 30px;
}

.indicators__weather-img {
  width: 80px;
  height: 80px;
  transform: scale(2);
}

.indicators__weather-title {
  font-size: 15px;
  text-align: center;
}

.indicators__box-humpres {
  gap: 20px;
}

.indicators__humidity,
.indicators__pressure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

img {
  border: none;

}

.indicators__humidity-img {
  background-size: 50px;
  border: none;
}

.indicators__pressure-img {
  background-size: 50px;
}

.indicators__humidity-indicator,
.indicators__pressure-indicator {

}

.indicators__humidity-title,
.indicators__pressure-title {

}

.indicators__wind {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.indicators__wind-img {
  background-size: 50px;
}

.indicators__wind-indicator {

}

.indicators__wind-title {

}

.indicators__ultraviolet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.indicators__ultraviolet-img {

}

.indicators__ultraviolet-indicator {

}

.indicators__ultraviolet-title {

}