main
    section.container
        .date
            .date__title Текущее время
            .date__time 09:00
            .date__day Понедельник, 25 декабря
        .indicators
            .indicators__box
                .indicators__wrapper
                    .indicators__temperature 24° С
                    .indicators__feels 22° С
                .indicators__wrapper
                    .indicators__sunrise-title Восход
                    .indicators__sunrise-time 08:20
                .indicators__wrapper
                    .indicators__sunset-title Закат
                    .indicators__sunset-time 05:05
            .indicators__box
                .indicators__weather-img Солнышко имг
                .indicators__weather-title Солнечно
            .indicators__box
                .indicators__humidity
                    img.indicators__humidity-img
                    .indicators__humidity-indicator 41%
                    .indicators__humidity-title Влажность
                .indicators__pressure
                    img.indicators__pressure-img
                    .indicators__pressure-indicator 997 мм/рс
                    .indicators__pressure-title Давление
            .indicators__box
                .indicators__wind
                    img.indicators__wind-img
                    .indicators__wind-indicator 2 км/ч
                    .indicators__wind-title Ветер
                .indicators__ultraviolet
                    img.indicators__ultraviolet-img
                    .indicators__ultraviolet-indicator 8
                    .indicators__ultraviolet-title Ультрафиолет
        .week
            .week__title Прогноз на 5 дней
            .week__box
                .week__img


                




        


