main
    .container
        form.form
            input(class="form__search" id="form__search" type="text" placeholder="Введи название города")
            button(class="form__button" id="form__button" type="button") Найти
        .box__indicators
            include modules/date.pug
            include modules/indicators.pug