.today
    .today__title Почасовой прогноз
    .today__wrapper
        .today__box
            .today__time 12:00
            img.today__img-ico 
            .today__temperature 26°С
            img.today__img-direction
            .today__speed 3км/ч
        .today__box
            .today__time 13:00
            img.today__img-ico 
            .today__temperature 27°С
            img.today__img-direction
            .today__speed 2км/ч
        .today__box
            .today__time 14:00
            img.today__img-ico 
            .today__temperature 26°С
            img.today__img-direction
            .today__speed 3км/ч
        .today__box
            .today__time 15:00
            img.today__img-ico
            .today__temperature 27°С
            img.today__img-direction
            .today__speed 3 км/ч
        .today__box
            .today__time 16:00
            img.today__img-ico
            .today__temperature 28°С
            img.today__img-direction
            .today__speed 3 км/ч