.week
    .week__title Прогноз на 5 дней
    .week__box
        img.week__img
        span.week__temperature 20°С
        span.week__day Понедельник, 1 сентября
    .week__box
        img.week__img
        span.week__temperature 21°С
        span.week__day Вторник, 2 сентября
    .week__box
        img.week__img
        span.week__temperature 22°С
        span.week__day Среда, 3 сентября
    .week__box
        img.week__img
        span.week__temperature 23°С
        span.week__day Четверг, 4 сентября
    .week__box
        img.week__img
        span.week__temperature 24°С
        span.week__day Пятница, 5 сентября